.env
.git
.github
.vscode
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
Dockerfile
docker-compose.yml
.rr.yaml
.rr.dev.yaml
rr.exe
phpunit.xml
.editorconfig
.gitattributes
